[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  ui = true
[core]
  compression = 9
  autocrlf = input
[credential]
  helper = cache
[pull]
  rebase = true
[rebase]
  autoStash = true
[user]
  name = refparo
  email = ref.paro@outlook.com
